<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo ***** -->
          <a href="index.html" class="logo">
            <img src="assets/images/logo.png" alt="guitarShop">
          </a>
          <!-- ***** Menu ***** -->
          <ul class="nav" [ngStyle]="{'display': dropMenu ? 'block' : ''}">
            <li class="scroll-to-section"><a href="#" class="active">Home</a></li>
            <li class="scroll-to-section"><a href="#">Electric Guitars</a></li>
            <li class="scroll-to-section"><a href="#">Acoustic Guitars</a></li>
            <li class="scroll-to-section"><a href="#">Bass Guitars</a></li>
            <li class="scroll-to-section"><a href="#">Accessories</a></li>
          </ul>
          <a [className]="dropMenu ? 'menu-trigger active' : 'menu-trigger'"
             (click)="dropMenu = !dropMenu"
          >
            <span>menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
