<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky" *ngIf="!isAdmin">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo ***** -->
          <a routerLink="/home" class="logo">
            <img src="../../../../assets/images/logo.png" alt="guitarShop">
          </a>
          <!-- ***** Menu ***** -->
          <ul class="nav" [ngStyle]="{'display': dropMenu ? 'block' : ''}">
            <li class="scroll-to-section">
              <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li *ngFor="let productCategory of productCategories" class="scroll-to-section">
              <a routerLink="/category/{{productCategory.id}}" routerLinkActive="active" (click)="dropMenu = false">
                {{productCategory.categoryName}}
              </a>
            </li>
            <li><app-cart-status></app-cart-status></li>
            <li><app-search></app-search></li>
          </ul>
          <!-- ***** Drop down menu for responsiveness ***** -->
          <a [className]="dropMenu ? 'menu-trigger active' : 'menu-trigger'"
             (click)="dropMenu = !dropMenu"
          >
            <span>menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
