<!-- ***** Main Banner Area ***** -->
<app-banner></app-banner>
<!-- ***** Main Banner Area ***** -->

<!-- ***** Product Area Starts ***** -->
<section class="section" id="product">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="left-images">
          <img src="{{ product.imageUrl }}" alt="">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="right-content">
          <h4>{{product.name}}</h4>
          <span class="price">{{ product.unitPrice | currency: 'USD' }}</span>
          <span>{{ product.description }}</span>
          <div class="quote">
            <i class="fa fa-quote-left"></i>
            <p>For that part we'll need to update the database</p>
          </div>
          <div class="quantity-content">
            <div class="left-content">
              <h6>No. of Orders</h6>
            </div>
            <div class="right-content">
              <div class="quantity buttons_added">
                <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern=""
                                                                    inputmode=""><input type="button" value="+" class="plus">
              </div>
            </div>
          </div>
          <div class="total">
            <h4>Total: TODO</h4>
            <div class="main-border-button">
              <a (click)="addToCart()">Add To CartItem</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Product Area Ends ***** -->
