@import "../../../colors";
@import "../../components/product/product-list/product-list.component";

.main-banner {
  font-family: $font-family_1;
  border-bottom: 3px dotted #eee;
  padding-top: 60px;
  padding-bottom: 30px;
margin-top: 150px;
  .left-content {
    .thumb {
      img {
        width: 100%;
        overflow: hidden;
      }
    }

    .inner-content {
      margin-top: 210px;
      position: absolute;
      left: 100px;
      transform: translateY(-50%);

      h4 {
        color: $color_2;
        margin-top: -10px;
        font-size: 52px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      span {
        font-size: 16px;
        color: $color_2;
        font-weight: 400;
        font-style: italic;
        display: block;
        margin-bottom: 30px;
      }
    }
  }

  .right-content {
    .right-first-image {
      margin-bottom: 28.5px;

      .thumb {
        position: relative;
        text-align: center;

        img {
          width: 100%;
          overflow: hidden;
        }

        .inner-content {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          text-align: center;

          h4 {
            color: $color_2;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 15px;
          }

          span {
            font-size: 16px;
            color: $color_2;
            font-style: italic;
          }
        }

        .hover-content {
          position: absolute;
          top: 15px;
          right: 15px;
          left: 15px;
          bottom: 15px;
          text-align: center;
          background-color: $background-color_2;
          opacity: 0;
          visibility: hidden;
          transition: all 0.5s;

          .inner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }

          h4 {
            color: $color_2;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 15px;
          }

          p {
            color: $color_2;
            padding: 0 20px;
            margin-bottom: 20px;
          }
        }

        &:hover {
          .hover-content {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

/*
---------------------------------------------
Banner responsiveness
---------------------------------------------
*/
@media (max-width: 1200px) {
  .main-banner {
    .right-content {
      .right-first-image {
        .thumb {
          .hover-content {
            p {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .main-banner {
    .right-content {
      .right-first-image {
        .thumb {
          .hover-content {
            p {
              display: block;
            }
          }
        }
      }
    }

    .left-content {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 767px) {
  .main-banner {
    .left-content {
      .thumb {
        .inner-content {
          left: 50%;
          top: 47.5%;
          transform: translate(-50%, -50%);
          text-align: center;
        }
      }
    }
  }
}
