<div class="main-banner" id="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-content">
          <div class="thumb">
            <div class="inner-content">
              <h4>Welcome on Guitar Shop!</h4>
              <span>Everything for guitar players & bassists</span>
              <div class="main-border-button">
                <a href="#">Purchase Now!</a>
              </div>
            </div>
            <img src="assets/images/guitar-shop.png" alt="guitar-shop">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <div class="row">
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Electric Guitars</h4>
                    <span>Best Electric Guitars</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Electric Guitars</h4>
                      <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="assets/images/guitar.png" alt="guitar">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Acoustic Guitars</h4>
                    <span>Best Electric Guitars</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Acoustic Guitars</h4>
                      <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="assets/images/acoustic.png" alt="acoustic">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Bass Guitars</h4>
                    <span>Best Bass Guitars</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Bass Guitars</h4>
                      <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="assets/images/bass.png" alt="bass">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Accessories</h4>
                    <span>Best Guitars Accessories</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Accessories</h4>
                      <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="assets/images/acessories.png" alt="accessories">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

