<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-content">
          <div class="thumb">
            <div class="inner-content">
              <h4>Welcome!</h4>
              <span>Everything for guitar players & bassists</span>
              <div class="main-border-button">
                <a routerLink="/products">Purchase Now!</a>
              </div>
            </div>
            <img src="assets/images/guitar-shop.png" alt="guitar-shop">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <div class="row">
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Electric Guitars</h4>
                    <span>Best Electric Guitars</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Electric Guitars</h4>
                      <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                      <div class="main-border-button">
                        <a routerLink="/category/1">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="assets/images/guitar.png" alt="guitar">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Acoustic Guitars</h4>
                    <span>Best Electric Guitars</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Acoustic Guitars</h4>
                      <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                      <div class="main-border-button">
                        <a routerLink="/category/2">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="assets/images/acoustic.png" alt="acoustic">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Bass Guitars</h4>
                    <span>Best Bass Guitars</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Bass Guitars</h4>
                      <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                      <div class="main-border-button">
                        <a routerLink="/category/3">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="assets/images/bass.png" alt="bass">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Accessories</h4>
                    <span>Best Guitars Accessories</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Accessories</h4>
                      <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                      <div class="main-border-button">
                        <a routerLink="/category/4">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="assets/images/accessories.png" alt="accessories">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Most recent products Area Start ***** -->
<section class="section" id="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>Latest Guitars</h2>
          <span>Our latest wild guitars arrivals!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let product of recentGuitars">
        <div class="item">
          <div class="thumb">
            <div class="hover-content">
              <ul>
                <li><a routerLink="/products/{{ product.id }}"><i class="fa fa-eye"></i></a></li>
                <li *ngIf="product.unitsInStock > 0"><a (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <img src="{{product.imageUrl}}" alt="product-photo">
          </div>
          <div class="down-content">
            <h4>{{product.name}}</h4>
            <span>{{product.unitPrice | currency: 'USD'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>Latest Acoustic Guitars</h2>
          <span>Our latest acoustic guitars for camp fire sessions!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let product of recentAcousticGuitars">
        <div class="item">
          <div class="thumb">
            <div class="hover-content">
              <ul>
                <li><a routerLink="/products/{{ product.id }}"><i class="fa fa-eye"></i></a></li>
                <li *ngIf="product.unitsInStock > 0"><a (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <img src="{{product.imageUrl}}" alt="product-photo">
          </div>
          <div class="down-content">
            <h4>{{product.name}}</h4>
            <span>{{product.unitPrice | currency: 'USD'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>Latest Bass Guitars</h2>
          <span>Our latest basses to groove!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let product of recentBasses">
        <div class="item">
          <div class="thumb">
            <div class="hover-content">
              <ul>
                <li><a routerLink="/products/{{ product.id }}"><i class="fa fa-eye"></i></a></li>
                <li *ngIf="product.unitsInStock > 0"><a (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <img src="{{product.imageUrl}}" alt="product-photo">
          </div>
          <div class="down-content">
            <h4>{{product.name}}</h4>
            <span>{{product.unitPrice | currency: 'USD'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Most recent products Area End ***** -->

