<div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary</div>
<div>
  <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
  <ul class="list-unstyled mb-4">
    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total Quantity: </strong><strong>{{ totalQuantity }}</strong></li>
    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>FREE</strong></li>
    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
      <h5 class="font-weight-bold">{{ totalPrice | currency: 'USD' }}</h5>
    </li>
  </ul>
  <a *ngIf="!checkoutView" routerLink="/checkout" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
</div>
