<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="first-item">
          <div class="logo">
            <img src="../../../../assets/images/logo-footer.png" alt="guitar-shop-logo">
          </div>
          <ul>
            <li><a href="#">36 Fictional Avenue, 99999 Fictional City</a></li>
            <li><a href="#">tibo.pfeifer@paz-dev.com</a></li>
            <li><a href="#">06-12-34-56-78</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <h4>Shopping &amp; Categories</h4>
        <ul>
          <li *ngFor="let category of productCategories">
            <a routerLink="/category/{{category.id}}" (click)="scrollToTop()">
              {{ category.categoryName }}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4>Useful Links</h4>
        <ul>
          <li><a routerLink="home" (click)="scrollToTop()">Homepage</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4>Help &amp; Information</h4>
        <ul>
          <li><a href="#">Help</a></li>
          <li><a href="#">FAQ's</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Tracking ID</a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <div class="under-footer">
          <p>Copyright © {{ presentYear }} PazDev Co., Ltd. All Rights Reserved.</p>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
