$color_1: #2a2a2a;
$color_2: #fff;
$color_3: #a1a1a1;
$color_4: #aaaaaa;
$color_5: #aaa;
$color_6: #cff;
$color_7: #c66;
$color_8: #3B566E;
$color_9: #c40b2b;


$font-family_1: 'Poppins', sans-serif;
$font-family_2: 'FontAwesome';

$background-color_1: #fff;
$background-color_2: rgba(42, 42, 42, .97);
$background-color_3: transparent;
$background-color_4: #2a2a2a;
$background-color_5: #f8f8f8;
$background-color_6: rgba(0, 0, 0, 0.85);
$background-color_7: #ffffff;
$background-color_8: #eee;
$background-color_9: #c40b2b;

$border-color_1: #2a2a2a;
