<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo ***** -->
          <a routerLink="/home" class="logo">
            <img src="../../../../assets/images/logo.png" alt="guitarShop">
          </a>
          <!-- ***** Menu ***** -->
          <ul class="nav" [ngStyle]="{'display': dropMenu ? 'block' : ''}">
            <li><p>Well, hello {{userFullName}}!</p></li>
            <li><a class="logout" (click)="logout()">Logout</a></li>
          </ul>
          <!-- ***** Drop down menu for responsiveness ***** -->
          <a [className]="dropMenu ? 'menu-trigger active' : 'menu-trigger'"
             (click)="dropMenu = !dropMenu"
          >
            <span>menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
