<!-- ***** Main Banner Area ***** -->
<app-banner></app-banner>
<!-- ***** Main Banner Area ***** -->

<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>All Products</h2>
          <span *ngIf="searchMode">We found what you're looking for!</span>
          <span *ngIf="currentCategoryId === 1 && !searchMode">Check out all of our electric guitars!</span>
          <span *ngIf="currentCategoryId === 2 && !searchMode">Check out all of our acoustic guitars!</span>
          <span *ngIf="currentCategoryId === 3 && !searchMode">Check out all of our bass guitars!</span>
          <span *ngIf="currentCategoryId === 4 && !searchMode">Check out all of our accessories!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let product of products">
        <div class="item">
          <div class="thumb">
            <div class="hover-content">
              <ul>
                <li><a routerLink="/products/{{ product.id }}"><i class="fa fa-eye"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <img src="{{product.imageUrl}}" alt="product-photo">
          </div>
          <div class="down-content">
            <h4>{{product.name}}</h4>
            <span>{{product.unitPrice | currency: 'USD'}}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="pagination">
              <ngb-pagination
                [(page)]="pageNumber"
                [pageSize]="pageSize"
                [collectionSize]="totalElements"
                [maxSize]="5"
                [boundaryLinks]="false"
                (pageChange)="listProducts()">
              </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</section>

