$color_1: #2a2a2a;
$color_2: #fff;
$color_3: #a1a1a1;

$background-color_1: #fff;
$background-color_4: #2a2a2a;


.page-heading {
  font-family: 'Poppins', sans-serif;
  margin-top: 160px;
  margin-bottom: 30px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;


  .inner-content {
    padding: 150px 0;
    text-align: center;

    h2 {
      font-size: 52px;
      color: $color_2;
      font-weight: 700;
      margin-bottom: 15px;
    }

    span {
      font-size: 16px;
      font-weight: 500;
      color: $color_2;
      font-style: italic;
    }
  }
}

/*
---------------------------------------------
Products Page
---------------------------------------------
*/
#products {
  .section-heading {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 80px;
  }

  .item {
    margin-bottom: 30px;

    .thumb {
      img {
        width: 100%;
        overflow: hidden;
      }

      .hover-content {
        position: absolute;
        z-index: 2;
        text-align: center;
        bottom: -60px;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all .5s;

        ul {
          li {
            display: inline;
            margin: 0 10px;

            a {
              width: 50px;
              height: 50px;
              text-align: center;
              line-height: 50px;
              display: inline-block;
              color: $color_1;
              background-color: $background-color_1;
            }
          }
        }
      }

      &:hover {
        .hover-content {
          bottom: 30px;
          opacity: 1;
          visibility: visible;
        }
      }

      position: relative;
    }

    .down-content {
      padding-top: 20px;
      position: relative;
      z-index: 3;
      background-color: $background-color_1;

      h4 {
        font-size: 22px;
        color: $color_1;
        font-weight: 700;
        margin-bottom: 8px;
      }

      span {
        font-size: 18px;
        color: $color_3;
        font-weight: 500;
        display: block;
      }

      ul.stars {
        position: absolute;
        right: 0;
        top: 20px;

        li {
          display: inline;
          font-size: 13px;
        }
      }
    }
  }
}

ngb-pagination {
  text-align: center;
  align-content: center;
  margin: auto;
  //width: 50%;
  border: 3px solid green;
  padding: 10px;
}
//
//.pagination .page-item.active .page-link {
//  text-align: center;
//  margin-top: 30px;
//  margin-bottom: 40px;
//
//  ul {
//    text-align: center;
//    width: 100%;
//
//    li {
//      display: inline;
//      margin: 0 5px;
//
//      a {
//        width: 44px;
//        height: 44px;
//        border: 1px solid #2a2a2a;
//        display: inline-block;
//        text-align: center;
//        line-height: 44px;
//        font-size: 14px;
//        font-weight: 500;
//        color: $color_1;
//        background-color: #1e1e1e;
//
//        &:hover {
//          background-color: $background-color_4;
//          color: $color_2;
//        }
//      }
//    }
//
//    li.active {
//      a {
//        background-color: $background-color_4;
//        color: $color_2;
//      }
//    }
//  }
//}


