<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading"
     [ngStyle]="{'background-image':
     searchMode ? imageUrls['PRODUCTS'] :
     allProductsView ? imageUrls['PRODUCTS'] :
     cartDetailsView ? imageUrls['CART_DETAILS'] :
     productView ? imageUrls['PRODUCT_DETAILS'] :
     currentCategory === 1 ? imageUrls['GUITARS'] :
     currentCategory === 2 ? imageUrls['ACOUSTICS'] :
     currentCategory === 3 ? imageUrls['BASSES'] :
     currentCategory === 4 ? imageUrls['ACCESSORIES'] :
     imageUrls['PRODUCTS']}"
     id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-content" *ngIf="searchMode">
          <h2>Search a product</h2>
          <span>Hop you'll find what you want!</span>
        </div>
        <div class="inner-content" *ngIf="productView">
          <h2>Product details</h2>
          <span>What's that thing all about?</span>
        </div> <div class="inner-content" *ngIf="cartDetailsView">
          <h2>Cart details</h2>
          <span>Better check if you really did choose all you want!</span>
        </div>
        <div class="inner-content" *ngIf="allProductsView">
          <h2>All our products</h2>
          <span>Well, good luck with choosing among all the stuff we have!</span>
        </div>
        <div class="inner-content" *ngIf="currentCategory === 1 && !searchMode">
          <h2>Electric Guitars</h2>
          <span>Make the amp scream!</span>
        </div>
        <div class="inner-content" *ngIf="currentCategory === 2 && !searchMode">
          <h2>Acoustic Guitars</h2>
          <span>For the best musical moments including a camp fire</span>
        </div>
        <div class="inner-content" *ngIf="currentCategory === 3 && !searchMode">
          <h2>Bass Guitars</h2>
          <span>Let's get groovy!</span>
        </div>
        <div class="inner-content" *ngIf="currentCategory === 4 && !searchMode">
          <h2>Accessories</h2>
          <span>At some moment, you'll need them!</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->
